<launch>

  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/locobot/joint_states]</rosparam>
  </node>

  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <arg name="moveit_controller_manager" value="simple" />
  </include>

</launch>
